@charset "UTF-8";
* {
  box-sizing: border-box;
}
/* Header */
header {
  text-align: center;
  color: black;
  background-color: #c2cdff;
}
/* Links */
a:link, a:visited { color: #230863; }
a:focus, a:hover, a:active { color: #3382f9; }
a {
  text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: .2em;
}
/* Top navigation bar */
.navbar {
  display: flex;
  background-color: #565892;
  font: 1em "Karla";
  text-transform: uppercase;
}

/* Navigation bar links */
.navbar a {
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}

/* Column container */
.container {  
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #b0ccd4;
  font: 1.2em "Karla";
}

/* Headers */
h1 {
  font: 1.8em "Playfair Display";
  font-weight:bold;
  text-transform: uppercase;

}
h2 {
  font: 1.8em "Playfair Display";
}

/* Textboxes */
p.description {
  font: 1.1em "Karla";
}
.review, p.introduction {
  font: 1em "Red Hat Display";
}

/* Location Page */
.locations {
  margin-left: 3%;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}
